[

  {cloud_repo, [
    {ws, [
      {<<"http://10.10.31.56:5001">>, [{connect_timeout, 60000}, {recv_timeout, 160000}]},
      {<<"http://10.10.53.26:5001">>, [{connect_timeout, 60000}, {recv_timeout, 160000}]},
      {<<"http://10.10.60.240:5001">>, [{connect_timeout, 60000}, {recv_timeout, 160000}]}
    ]},

    {gateway, [
      {<<"http://10.10.31.56:5001">>, [{connect_timeout, 60000}, {recv_timeout, 160000}]},
      {<<"http://10.10.53.26:5001">>, [{connect_timeout, 60000}, {recv_timeout, 160000}]},
      {<<"http://10.10.60.240:5001">>, [{connect_timeout, 60000}, {recv_timeout, 160000}]}
    ]}
  ]},

  {kafka, [
    {hosts, [
      {"192.0.8.1", 9092},
      {"192.0.8.2", 9092},
      {"192.0.8.3", 9092}
    ]}
  ]}
] .
