[

  {cloud_repo, [
    {ws, [
      {<<"http://10.10.31.56:5002">>, [{connect_timeout, 60000}, {recv_timeout, 160000}]},
      {<<"http://10.10.53.26:5002">>, [{connect_timeout, 60000}, {recv_timeout, 160000}]},
      {<<"http://10.10.60.240:5002">>, [{connect_timeout, 60000}, {recv_timeout, 160000}]}
    ]},

    {gateway, [
      {<<"http://10.10.31.56:5002">>, [{connect_timeout, 60000}, {recv_timeout, 160000}]},
      {<<"http://10.10.53.26:5002">>, [{connect_timeout, 60000}, {recv_timeout, 160000}]},
      {<<"http://10.10.60.240:5002">>, [{connect_timeout, 60000}, {recv_timeout, 160000}]}
    ]}
  ]},

  {kafka, [
    {hosts, [
      {"192.0.8.1", 9092},
      {"192.0.8.2", 9092},
      {"192.0.8.3", 9092}
    ]}
  ]},

  {cqerl, [
    {cassandra_clusters, [
      {convstore, {[
        {"192.0.10.1", 9042},
        {"192.0.10.2", 9042},
        {"192.0.10.3", 9042}],
        [{keyspace, lecai_convstore}]
      }},

      {maxwell, {[
        {"192.0.10.1", 9042},
        {"192.0.10.2", 9042},
        {"192.0.10.3", 9042}],
        [{keyspace, lecai_maxwell}]
      }}
    ]}
  ]},

  {ekaf, [
    {ekaf_bootstrap_broker, {"192.0.8.2", 9092}}
  ]},

  {apns, [
    {cert_file, "/app/conf/apns-push_lecai.pem"}
  ]},

  {orgman, [
    {org_message_topic, {<<"lecai_org_message">>, 0}}
  ]}


] .
