[

  {cloud_repo, [
    {ws, [
      {<<"http://in-801-bj:5001">>, [{connect_timeout, 60000}, {recv_timeout, 160000}]},
      {<<"http://in-802-bj:5001">>, [{connect_timeout, 60000}, {recv_timeout, 160000}]},
      {<<"http://in-803-bj:5001">>, [{connect_timeout, 60000}, {recv_timeout, 160000}]}
    ]},

    {gateway, [
      {<<"http://in-801-bj:5001">>, [{connect_timeout, 60000}, {recv_timeout, 160000}]},
      {<<"http://in-802-bj:5001">>, [{connect_timeout, 60000}, {recv_timeout, 160000}]},
      {<<"http://in-803-bj:5001">>, [{connect_timeout, 60000}, {recv_timeout, 160000}]}
    ]}
  ]},

  {kafka, [
    {hosts, [
      {"in-804-bj", 9092},
      {"in-805-bj", 9092},
      {"in-806-bj", 9092}
    ]}
  ]}
] .
